<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">



    <title>About</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<style>
    

    .container {
        max-width: 1280px;
        padding: 20px 180px;

    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #000000;
        text-decoration: none;
    }
</style>



<body>

    <div class="container">
        <div class="row">
            <h4 class="col" style="font-weight:bold;">
                <a href="{{ url_for('index') }}">Workout Break</a>
            </h4>
            <div class="col">

            </div>
            <div class="col">
            </div>

            <h5 class="col my-2"><a href="{{ url_for('about') }}">Login</a></h5>
        </div>
    </div>

    <div  class="text-center">
        Coming Soon. 

    </div>


</body>


<script>


    
</script>